<!DOCTYPE html>
<html>
    <head>
        <title>GENIUS PIECE | Community | {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <link href="/static/gp.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <nav class="navbar">
            <ul class="navbar-nav">
                <a href="/a">/a/</a>
            </ul>
            <ul class="navbar-nav">
                <a href="/b">/b/</a>
            </ul>
            <ul class="navbar-nav">
                <a href="/c">/c/</a>
            </ul>
            <ul class="navbar-nav">
                <a href="/d">/d/</a>
            </ul>
            <ul class="navbar-nav">
                <a href="/m">/m/</a>
            </ul>
            <ul class="navbar-nav">
                <a href="/pc">/pc/</a>
            </ul>
            <ul class="navbar-nav">
                <a href="/vg">/vg/</a>
            </ul>
            <ul class="navbar-nav">
                <a href="/x">/x/</a>
            </ul>
        </nav>
        <div style="text-align: center;">        
            <img src="static/placeholderad.png" alt="This is where I'd put an ad ... IF I HAD ONE!" width="600px">
            <p>This is where I'd put an ad ... IF I HAD ONE!</p>
        </div>
        {% block main %}
        {% endblock %}
        <footer>
            <p>© 2020 GENIUS PIECE.
            <p>Website designed by Spencer Smith (<a href="mailto:spenny@geniuspiece.com">spenny@geniuspiece.com</a>)</p>
            <p>Made in Nova Scotia, Canada</p>
        </footer>
    </body> 
</html>
